@charset "utf-8";
h1{display: none;}
body{width: 1304px;
    height: 702px;
    overflow: hidden;}
/*档案袋动画*/
.bg{
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	min-width: 1280px;
	background-image:url("../img/pagebg.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}
.bagbody{
	margin-left: -600px;
	left: 50%;
	bottom: 0;
	position: absolute;
	width: 1200px;
	height: 600px;
    background: url('../img/bagbg.png') repeat;
    box-shadow: 10px 10px 5px #333;
}
.bagshadow{box-shadow: -10px 10px 5px #333;}
.flip{
	transform: rotateY(180deg);
	transition:all 2s;
}
.bagtxt{
	margin-top: 100px;
}
.bagtxt p{
	margin-left: 300px;
	font-size: 98px;
	font-family: "Microsoft Yahei";
	color: rgb(255,22,22);
}
.bagtxt b:last-child{
	float: right;
	margin-right: 300px;
}
.baghead{
	margin-top: -200px;
}
.top{
	width: 100%;
	height: 200px;
}
.down{
	position: relative;
	z-index: -1;
	width: 100%;
	height: 200px;
	background: url('../img/bagbg.png') repeat;
	border-top: 1px solid rgb(150,100,79);
	border-bottom: 1px solid rgb(150,100,79);
}
@keyframes anima{
	0%{ box-shadow: 0 0 10px 10px #333;}
	50%{ box-shadow: none;}
	100%{ box-shadow: 0 0 10px 10px #333;}
}
.circle{
	margin: 60px auto;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgb(150,100,79);
    border:20px solid #fff;
} 
.line,.moveline{
	position: absolute;   
    display: block;
    width: 50px;
}
.line{
	top: 108px;
    left: 573px;
    height: 241px;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}
.moveline{
    height: 50px;
    top: 322px;
    left: 575px;
    transition: all 2s;
}
.rotate{
    transform: rotate(-720deg);
}
.moveline:before{
	margin-left: 50px;
	content: "";
	display: block;
	width: 2px;
	height: 160px;
	background: #fff;
}
.bagopen{
	transform: rotateX(180deg);
	transition:all 2s;
	transition-delay: 3s;
}
/*“拆”的按钮*/ 
.takebtn{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -150px;
	width: 300px;
	height: 100px;
	font-size: 72px;
	text-align: center;
	line-height: 100px;
	color: rgb(255,231,24);
	background:rgb(212, 75, 40);
	border-radius: 10px;
	box-shadow: 0 0 10px 10px rgba(0,0,0,.8);
	cursor: pointer;
}
.fadeInUp{animation:fadeInUp 1s infinite;}
.flash{animation:anima 1s infinite;}
@keyframes fadeInUp{
	0% {
	    opacity: 0;
	    transform: translateY(20px);
	}
	100% {
	    opacity: 1;
	    transform: translateY(0);
	}
}

/*封皮完事了*/ 

/*wrap样式*/
.wrap{
	margin-left: -550px;
	left: 50%;
	top: 103px;
	position: absolute;
	width: 1100px;
	height: 1px;
    opacity: 0;
}
.overflow{overflow: hidden;}
/* page*/
.page{
	position: absolute;
	padding:20px;
	margin-top: 34px;
	height: 599px;
	width: 1100px;
	background: #fff;
    box-sizing: border-box;
    z-index: 5;
}
.page:before{
    display: block;
    position: absolute;
    top: -34px;
    left: 0;
    content: "";
    height: 34px;
    width: 1100px;
    background: url(../img/pagehead.png) repeat-x;
}
/*nav*/
nav{
	position: absolute;
	top: 30px;
	left: 1100px;
}
nav ul li{
	margin-top: 4px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition:all .5s;
	overflow: hidden;
	font-size: 20px;
}
nav ul li:hover{
	width: 100px;
	transition:all .5s;
}
nav ul li:hover i{
	display: none;
}
nav ul li:nth-child(1){
	background: rgb(167,207,88);
}
nav ul li:nth-child(2){
	background: rgb(111,196,203);
}
nav ul li:nth-child(3){
	background: rgb(208,228,229);
}
nav ul li:nth-child(4){
	background: rgb(253,240,1);
}
nav ul li i{
	display: block;
	width: 40px;
	height: 40px;
}
nav ul li:nth-child(1) i{
	background: url(../img/icon.png) -40px;
}
nav ul li:nth-child(2) i{
	background: url(../img/icon.png);
}
nav ul li:nth-child(3) i{
	background: url(../img/icon.png) 40px;
}
nav ul li:nth-child(4) i{
	background: url(../img/icon.png) -80px;
}

/*页面切换*/
.page0{background:rgb(167,207,88);}
.page1{background:rgb(111,196,203);}
.page2{background:rgb(208,228,229);}
.page3{background:rgb(253,240,1);}
.table{
	animation:pagetable 2s infinite;
}
@keyframes pagetable{
	30%{left: 0;transform: scale(1.1,1.1);z-index: 10;}
	50%{left:-1100px;}
	70%{transform: scale(1,1);z-index:6;}
	100%{left:0px;}
}

/*page1*/
.left,.right{float: left;}
.left{width: 40%}
.right{width: 60%}
.border{
	margin-top:30px;
	margin-left: 100px;
	transform:rotateZ(-15deg);
	display: inline-block;
    width: 180px;
    height: 180px;
    border: 15px solid transparent;
    border-image: url(../img/photobg.png) 10 round;
}
#me{position: absolute;}
.page0 .border:after{
	content: "朋友告诉我放我自己照片会扣很多分所以暂时藏起来了,如果你够仔细还是能找到的,悲伤脸";
	display: block;
	margin-top:20px;
	text-indent: 24px;
}
.box{width: 180px;height: 180px;background: url('../img/me.png'); cursor:help;}	
.info{margin-top: 20px;}
.info h2,.info p{display: inline-block;}
.info h2{text-indent: 24px;font-weight: 700;font-size: 18px;}
.info p{font-size: 16px;}