@charset "utf-8";
h1{display: none;}
body{width: 1304px;
    height: 702px;
    overflow: hidden;}
/*档案袋动画*/
.bg{
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	min-width: 1280px;
	background-image:url("../img/pagebg.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}
.bagbody{
	margin-left: -600px;
	left: 50%;
	bottom: 0;
	position: absolute;
	width: 1200px;
	height: 600px;
    background: url('../img/bagbg.png') repeat;
    box-shadow: 10px 10px 5px #333;
}
.bagshadow{box-shadow: -10px 10px 5px #333;}
.flip{
	transform: rotateY(180deg);
	transition:all 2s;
}
.bagtxt{
	margin-top: 100px;
}
.bagtxt p{
	margin-left: 300px;
	font-size: 98px;
	font-family: "Microsoft Yahei";
	color: rgb(255,22,22);
}
.bagtxt b:last-child{
	float: right;
	margin-right: 300px;
}
.baghead{
	margin-top: -200px;
}
.top{
	width: 100%;
	height: 200px;
}
.down{
	position: relative;
	z-index: -1;
	width: 100%;
	height: 200px;
	background: url('../img/bagbg.png') repeat;
	border-top: 1px solid rgb(150,100,79);
	border-bottom: 1px solid rgb(150,100,79);
}
@keyframes anima{
	0%{ box-shadow: 0 0 10px 10px #333;}
	50%{ box-shadow: none;}
	100%{ box-shadow: 0 0 10px 10px #333;}
}
.circle{
	margin: 60px auto;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgb(150,100,79);
    border:20px solid #fff;
} 
.line,.moveline{
	position: absolute;   
    display: block;
    width: 50px;
}
.line{
	top: 108px;
    left: 573px;
    height: 241px;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}
.moveline{
    height: 50px;
    top: 322px;
    left: 575px;
    transition: all 2s;
}
.rotate{
    transform: rotate(-720deg);
}
.moveline:before{
	margin-left: 50px;
	content: "";
	display: block;
	width: 2px;
	height: 160px;
	background: #fff;
}
.bagopen{
	transform: rotateX(180deg);
	transition:all 2s;
	transition-delay: 3s;
}
/*“拆”的按钮*/ 
.takebtn{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -150px;
	width: 300px;
	height: 100px;
	font-size: 72px;
	text-align: center;
	line-height: 100px;
	color: rgb(255,231,24);
	background:rgb(212, 75, 40);
	border-radius: 10px;
	box-shadow: 0 0 10px 10px rgba(0,0,0,.8);
	cursor: pointer;
}
.fadeInUp{animation:fadeInUp 1s infinite;}
.flash{animation:anima 1s infinite;}
@keyframes fadeInUp{
	0% {
	    opacity: 0;
	    transform: translateY(20px);
	}
	100% {
	    opacity: 1;
	    transform: translateY(0);
	}
}

/*封皮完事了*/ 

/*wrap样式*/
.wrap{
	margin-left: -550px;
	left: 50%;
	top: 103px;
	position: absolute;
	width: 1100px;
	height: 1px;
    opacity: 0;
}
.overflow{overflow: hidden;}
/* page*/
.page{
	position: absolute;
	padding:20px;
	margin-top: 34px;
	height: 599px;
	width: 1100px;
	background: #fff;
    box-sizing: border-box;
    z-index: 5;
}
.page:before{
    display: block;
    position: absolute;
    top: -34px;
    left: 0;
    content: "";
    height: 34px;
    width: 1100px;
    background: url(../img/pagehead.png) repeat-x;
}
/*nav*/
nav{
	position: absolute;
	top: 30px;
	left: 1100px;
}
nav ul li{
	margin-top: 4px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition:all .5s;
	overflow: hidden;
	font-size: 20px;
}
nav ul li:hover{
	width: 100px;
	transition:all .5s;
}
nav ul li:hover i{
	display: none;
}
nav ul li:nth-child(1){
	background: rgb(167,207,88);
}
nav ul li:nth-child(2){
	background: rgb(111,196,203);
}
nav ul li:nth-child(3){
	background: rgb(208,228,229);
}
nav ul li:nth-child(4){
	background: rgb(253,240,1);
}
nav ul li i{
	display: block;
	width: 40px;
	height: 40px;
}
nav ul li:nth-child(1) i{
	background: url(../img/icon.png) -40px;
}
nav ul li:nth-child(2) i{
	background: url(../img/icon.png);
}
nav ul li:nth-child(3) i{
	background: url(../img/icon.png) 40px;
}
nav ul li:nth-child(4) i{
	background: url(../img/icon.png) -80px;
}

/*页面切换*/
.page0{background:rgb(167,207,88);}
.page1{background:rgb(111,196,203);}
.page2{background:rgb(208,228,229);}
.page3{background:rgb(253,240,1);}
.tab{
	animation:pagetable 2s infinite;
}
@keyframes pagetable{
	30%{left: 0;transform: scale(1.1,1.1);z-index: 10;}
	50%{left:-1100px;}
	70%{transform: scale(1,1);z-index:6;}
	100%{left:0px;}
}

/*page1*/
.left,.right{float: left;}
.left{width: 40%;border-right: 1px dotted #333;box-sizing: border-box;}
.right{width: 60%;}
.border{
	margin-top:30px;
	margin-left: 100px;
	transform:rotateZ(-15deg);
	display: inline-block;
    width: 180px;
    height: 180px;
    border: 15px solid transparent;
    border-image: url(../img/photobg.png) 10 round;
}
#me{position: absolute;}
.page0 .border:after{
	content: "朋友告诉我放我自己照片会扣很多分所以暂时藏起来了,如果你够仔细还是能找到的,悲伤脸";
	display: block;
	margin-top:20px;
	text-indent: 24px;
}
.box{width: 180px;height: 180px;background: url('../img/me.png'); cursor:help;}	
.info{margin-top: 20px;}
.info h2,.info p{display: inline-block;}
.info h2{text-indent: 24px;font-weight: 700;font-size: 18px;}
.info p{text-indent: 32px;font-size: 16px;}
.ultit{
	float: left;
	padding: 20px;
	font-size: 40px;
}
.ultit i{ text-decoration: line-through; }
.ultit:after{
	content: "简史";
	display: block;
    margin-top: -20px;
    margin-left: 160px;
}
.list{
	margin:0 auto;
	padding:20px;
	position: relative;
}
.list li{
	position: absolute;
	padding: 30px;
	width: 150px;
	height:150px;
	font-size: 15px;
	color: #0ff;
	text-align: center;
	border-radius: 50%;
}
.list li p i{
	display: block;
	font-size: 40px;
}
.list li p {
	text-shadow: 1px 1px 1px rgba(255,255,255,.6);
}
.list li:nth-child(1){
	top: 20px;
	left: 380px;
	color: #4c9582;
	border: 6px solid #539e89; 
	background: #51c9a6;
}
.list li:nth-child(2){
	top: 100px;
	left: 260px;
	color: #bd607d;
	border: 6px solid #e29ab0;
	background: #e77b9d;
}
.list li:nth-child(3){
	top: 180px;
	left: 130px;
	color: #5e9fb5;
	border: 6px solid #a0d0de;
	background: #7ecae4;
}
.list li:nth-child(4){
	top: 260px;
	color: #ba9d5b;
	border: 6px solid #ddc899;
	background: #f0cd79;
}
.list li:hover{
	z-index: 2;
	transform: scale(1.1);
	transition:all 0.6s;
}
.list li:hover p{
	animation:hover 1s;
}
.list li:hover:nth-child(1){
	color:#0f775c;
	border:6px solid #098563;
	background:#00c18c;
}
.list li:hover:nth-child(2){
	color:#b22b56;
	border:6px solid #bb345d;
	background:#ea5180;
}
.list li:hover:nth-child(3){
	color:#2784a3;
	border:6px solid #4397b3;
	background:#55c1e5;
}
.list li:hover:nth-child(4){
	color:#ab8228;
	border:6px solid #b38e3e;
	background:#f8c64d;
}
@keyframes hover{
	0%{
		opacity: 1;
		transform:translateY(0);
	}
	50%{
		opacity: 0;
		transform:translateY(200px);
	}
	100%{
		opacity: 1;
		transform:translateY(0);
	}
}


/*page2*/
.page1 .left{padding:20px;box-sizing: border-box;font-size: 24px;text-align: center;}
.page1 .left img{margin:0 auto;background: #fff;display: block;} 
.page1 .left h2{margin:20px 0;}    
.page1 .left ul{height: 333px;overflow-y: scroll;background: #fff;}
.page1 .left ul li{font-size: 16px;text-align: left;word-wrap:break-word;}
.page1 .left ul::-webkit-scrollbar{width:10px;}
.page1 .left ul::-webkit-scrollbar-track{background-color:#bee1eb;}
.page1 .left ul::-webkit-scrollbar-thumb{background-color:#00aff0;}

.page1 .right h2{margin:20px;font-size: 24px;}
.skill{margin:0 auto;width: 450px;text-align: center;}
.skill li{float: left;width: 200px;height: 200px;}
.skill li:nth-child(1),.skill li:nth-child(2){margin-bottom: 10px;}
.skill li:nth-child(odd){margin-right: 10px;margin-left: 20px;}
.skill li dl{display: none;padding-top: 10px;font-size: 14px;}
.skill li dd{text-align: left;}

.bounceOut{animation: bounceOut 1s infinite;}
@keyframes bounceOut{
	20% {
	    -webkit-transform: scale3d(.9,.9,.9);
	    transform: scale3d(.9,.9,.9);
	}
	50%, 55% {
	    opacity: 1;
	    -webkit-transform: scale3d(1.1,1.1,1.1);
	    transform: scale3d(1.1,1.1,1.1);
	}
	100% {
	    opacity: 0;
	    -webkit-transform: scale3d(.3,.3,.3);
	    transform: scale3d(.3,.3,.3);
	}
}

.WeChat{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}




/* page 3*/
.page2 .left{padding:20px;box-sizing: border-box;}
.page2 .left{font-size: 24px;text-align: center;} 
.page2 .left h2{margin:20px 0;} 
.page2 .left ol{padding-top: 20px;}
.page2 .left ol li{margin-top:10px;font-size: 16px;text-align: left;word-wrap:break-word;}

.avic li{margin:6px 20px;padding:10px;height:100px;overflow:hidden;box-sizing:border-box;background: #99e;text-align: center;border-radius: 8px;cursor: pointer;transition:height 1s;}
.avic li:hover{background: #88d;height: 200px;}
.avic li p{line-height: 80px;font-size: 24px;}
.avic li dl{margin-top:10px;text-align: left;font-size: 14px;}




/*page 4*/
.table{ float: left; width: 840px;height: 500px;overflow-y: scroll;background: #eee;}
.table::-webkit-scrollbar{width:4px;}
.table::-webkit-scrollbar-track{background-color:rgb(253,240,99);}
.table::-webkit-scrollbar-thumb{background-color:rgb(200,0,0);;}
.bn{border-top:none!important;}
.br{border-right:1px solid #333;}
.bd{border-bottom:1px solid #333;}
.table dd,.table dt{
	float: left;
	width: 167px;
	height: 30px;
	border-top:1px solid #333;
	border-left:1px solid #333;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	box-sizing: border-box;
} 
.table img{position: relative;z-index: 10;height: 149px;}
.table dt{background: #ddd;font-weight: 700;}
.table dd ul{text-align: left;}

.btnbox{margin-top:300px;margin-right:50px;float: right;}
.btnbox li{margin-top:20px;width: 120px;height: 40px;background: #f66;border-radius:40px;line-height: 40px;text-align: center;font-weight:700;font-size: 20px;cursor: pointer;}

/*百度分享*/
.bdsharebuttonbox{
	position: absolute;
	top: 150px;
	right: 64px;
}